@model Travel_Guide.Models.Hotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hotelUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotelUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.townName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.townName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hotelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
